
/* List Tour */
.form-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.form-horizontal-list_tour .form-group {
    width: 100%;
    flex: 0 0 33%;
}

.form-horizontal-list_tour .col-sm-6 {
    max-width: 100%;
    flex: 0 0 100%;
}

/* Tours */
.form-horizontal-tours .form-group{
    width: 100%;
    flex: 0 0 25%;
}

.form-horizontal-tours .col-sm-6 {
    max-width: 100%;
    flex: 0 0 100%;
}

/* Comments */
.form-horizontal-comments .form-group{
    width: 100%;
    flex: 0 0 33%;
}

.form-horizontal-comments .col-sm-6 {
    max-width: 100%;
    flex: 0 0 100%;
}

/* Add News */
.note-editor {
    margin-bottom: 1rem;
}

label {
    font-weight: 600;
}
